.header
  .container.col-sm-offset-4.col-sm-4.col-sm-offset-4
    %form.form-signin{role: "form"}
    %h4.form-signin-heading Resend Instructions
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = f.email_field :email, autofocus: true, :placeholder => "Email", class: "input form-control"
      %br
      %div= f.submit "Resend Instructions", class: "button btn btn-lg btn-primary btn-block btn-embossed"
      %br
    = render "devise/shared/links"