.container-fluid
  .col-sm-12
    / = form_for @appointment do |f|
    /   = f.text_field :start_time, :placeholder => "Start", :class => "form-control"
    /   = f.text_field :end_time, :placeholder => "End", :class => "form-control"
    #calendar