/* Add gliphicon to search bar */
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.center-div {
  margin-right: auto;
  margin-left: auto;
}

/* Remove padding from profile images */

.panel-body.ignore {
	padding: 0;
	}

.dialog {
  background-color: #edeff1;
  border-top: 2px solid #d6dbdf;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 16px 0 20px;
  position: relative;
  text-align: center;
}

a {
  color: #999;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
a:hover,
a:focus {
  color: #1abc9c;
  text-decoration: none;
}